body {
    background-image: url('assets/earthFromMars.jpg');
    background-size: 100vw 200vh;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
    background-color: gray;
}   
/* search field */
input[type="text"] {
    background: transparent;
    border-color: transparent transparent white transparent;
    border-radius: 0;
    color: gray;
    box-shadow: none;
    font-family: 'Roboto Mono', monospace;
}
input[type="text"]:focus {
    background: transparent;
    border-color: transparent transparent white transparent;
    border-radius: 0;
    color: gray;
    box-shadow: none;
    font-family: 'Roboto Mono', monospace;
}
#userInput {
    margin-top: 0px;
}
/* fonts */
h1 {
    color: white;
    font-weight: 1700;
    font-family: 'Roboto Mono', monospace;
}
h2 {
    color: white;
    font-weight: 1700;
    font-size: 3.5em;
    font-family: 'Roboto Mono', monospace;
}
h4 {
    color:gray;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}
p {
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.red {
    color: #D28167;
    padding-bottom: 10px;
}
.blue {
    color: #68B5D7;
    padding-bottom: 10px;
}
.transparent {
    color: transparent;
    padding-top: 9px;
}
/* spacers */
.space10 {
    width: 10%;
}
.space26 {
    width: 25%;
}
.space30 {
    width: 30%;
}
.space45 {
    width: 45%;
}
.space50 {
    width: 50%;
}
.space60 {
    width: 60%;
}
.space80 {
    width: 80%;
    height: 20px;
}
.vert20 {
    height: 80%;
}
.center {
    align-self: center;
}
/* flex properties */
#flexHeader {
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.tempBoxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 32%;
}
.flex-row {
    margin-top: 5%;
}
.alignLeft {
    color: white;
}
.alignRight {
    color: white;
    display: flex;
    justify-content: flex-end;
}
.y {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* thermometer */
.thermometerTop {
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: transparent white white white
}
.thermometerBottom {
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: white white transparent white;
}
.m {
    margin: 0 !important;
    padding: 0 !important;
}
.redMarker {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 18px solid #D28167;
    left: 34%;
}
.blueMarker {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 18px solid #68B5D7;
}